body {
        background: #67E3FE ; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #67E3FE , #5D6AF7 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #67E3FE , #5D6AF7 ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #67E3FE , #5D6AF7 ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #67E3FE , #5D6AF7 ); /* Standard syntax */
    color: #000;
    margin: 0;
    font-family: arial;
}

.jumbotron {
    background: transparent;
    color:#f1f1f1;
    margin-bottom: 0;
}

.navbar-default {

    border: 0;
    box-shadow: none;
    font-family: "roboto condensed", sans-serif;
    font-weight: 700;
    border-radius: 0;
}
.wrap {
    background-color:#f1f1f1;
    height: 50vh;
}

.footer {
    background-color:#5D6AF7;
    height: 20vh;
}