body {
    background: url('../assets/images/bg.jpeg') no-repeat center top fixed;
    background-color:#fafafa;
    background-size: 100%;
    color: #444;
    margin: 0;
    font-family: arial;
}

.jumbotron {
   
  background: transparent;
    color: #fff;
    margin-bottom: 0;
}


/*navigation */

.navbar {
    font-weight: 400;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 0;
    background-color: #333;
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
    background: #222;
    color: #999;
    text-shadow: 0;
}

.navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
    background: #222;
    color: #999;
    text-shadow: 0;
}

.navbar-custom {
    background: #333;
    color: #fff;
    border-radius: 0;
}

.navbar-custom a {
    color: #fff;
    font-size: 16px;
}

.navbar-custom li {
    padding: 0 15px 0 15px;
}

.content {
    background-color: #fff;
    color:#444;
    margin: 400px 0 25px 0;
   -webkit-box-shadow: 0 10px 2px rgba(0, 0, 0, .100);
    box-shadow: 0 10px 2px rgba(0, 0, 0, .100);
}

.footer {
    background-color:#222;
    color:#fff;
    height: 75px;
    margin-top: 80vh;
}